[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-levenshtein = "*"
discord = {py = "*"}
python-dateutil = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
fuzzywuzzy = "*"
selenium = "*"
click = "*"
sqlalchemy = "*"
jinja2 = "*"

[dev-packages]

[requires]
python_version = "3.6.6"

[scripts]
start="python -m discord-cli"
